.active{
    color:#e14eca;
}
.inactive{
    color: lightgray
}
.apexcharts-tooltip {
    background:#344675 ;
    color: #f3f3f3;
  }
.apexcharts-toolbar-tools-download {
    background:#344675 ;
    color: #f3f3f3;
  }